*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

.flex {
	display: flex;
	flex-direction: row;
	align-items: center;
}
:root {
	--font-color: #2f3542;
	--body-color: #ececec;
	--secondary-background: #ffffff;
	--secondary-color: #52a1ff;
	--error-color: #ff4757;
	--validation-color: #70a1ff;
	--pendind-color: #ffa502;
	--todo-color: #ff4757;
	--done-color: #2ed573;
}

body {
	background: var(--body-color);
	font-family: 'Roboto', sans-serif;
	color: var(--font-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	isolation: isolate;
}
